*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-image: url(../catalogo/bruma.jpg);

	background-size: cover;
	background-position: top;
	height:100vh;

	}

	header p{
	position: relative;
	top: 2em;
	text-align: center;
	font-size: 2.5em;
	color: white;
	font-weight: 400;
	opacity: .8;

}
nav ul{
	text-align: center;

}
nav li{
	display: inline-block;
	position: relative;
	top: 4em;
	margin:10%;
	text-transform: uppercase;
	letter-spacing: 3px;
	

}

nav li a{
	text-decoration: none;
	color:white;
}

 nav a:hover {
	border:solid 1px white;
	border-radius: 5px;
	padding: 1em;
}